@{
    ViewData["Title"] = "Batteries";
}

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Batteries</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="productTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Battery ID</th>
                            <th>Battery Type</th>
                            <th>Battery Status</th>
                            <th>Date of Commissioning</th>
                            <th>Date of Last Inspection</th>
                            <th>Certificate of Operations</th>
                            <th>Information</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    @* <script>
        const data = null;
        const xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
            }
        });

        xhr.open("GET", "https://rocketelevatorsfoundationrestapi.azurewebsites.net/api/Batteries");
        xhr.send(data);

        Get Batteries data
            string url1 = "https://rocketelevatorsfoundationrestapi.azurewebsites.net/api/Batteries";
            WebRequest request = HttpWebRequest.Create(url1);
            WebResponse response = request.GetResponse();
            StreamReader reader = new StreamReader(response.GetResponseStream());
            string Customer_JSON_List = reader.ReadToEnd();
            List<Batteries> BList = new List<Batteries>();
            List<Batteries> objResponse =
            JsonConvert.DeserializeObject<List<Batteries>>(Customer_JSON_List);
    
    </script> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>