@{
    ViewData["Title"] = "Interventions";
}

<div class="container">
    <div class="heading-title heading-dotted text-center" style="font-size: 30px;">
        <h2>Interventions</h2>
    </div>
</div>

<div class="container">
  <form class="col-md-3 mx-auto text-center">
          
      <div class="form-group">
        @* <label for="author">Author</label> *@
        <input type="hidden" class="form-control" id="author" name="author">
      </div>

      <div class="form-group">
        @* <label for="customer">Customer</label> *@
        <input type="hidden" class="form-control" id="customer" name="customer">
      </div>
      
      <div class="form-group">
        <label for="Building">Building</label><br>
        <select class="form-control" id="Building" name="Building">
          <option value="test">Test</option>
        </select>
      </div>
        
      <div class="form-group">
        <label for="Battery">Battery</label><br>
        <select class="form-control" id="Battery" name="Battery">
          <option value="test">Test</option>
        </select>
      </div>
        
      <div class="form-group">
        <label for="Column">Column</label><br>
        <select class="form-control" id="column" name="column">
          <option value="test">Test</option>
        </select>
      </div>
            
      <div class="form-group">
        <label for="Elevator">Elevator</label><br>
        <select class="form-control" id="elevator" name="elevator">
          <option value="test">Test</option>
        </select>
      </div>
            
      <div class="form-group">      
        <label for="Employee">Employee</label><br>
        <select class="form-control" id="employee" name="employee">
          <option value="test">Test</option>
        </select>
      </div>
            
      <div class="form-group">
        @* <label for="StartIntervention">StartIntervention</label><br> *@
        <input type="hidden" class="form-control" id="startintervention" name="startintervention" value="">
      </div>

      <div class="form-group">
        @* <label for="EndIntervention">EndIntervention</label><br> *@
        <input type="hidden" class="form-control" id="endintervention" name="endintervention" value="">
      </div>

      <div class="form-group">
        @* <label for="Result">Result</label><br> *@
        <input type="hidden" class="form-control" id="result" name="result" value="Incomplete">
      </div>

      <div class="form-group">  
        <label for="Report">Report</label><br>
        <textarea class="form-control" id="report" rows="3"></textarea>
      </div>

      <div class="form-group">  
        @* <label for="Status">Status</label><br> *@
        <input type="hidden" class="form-control" id="status" name="status" value="Pending">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    
</form>
</div>